<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.username.java_final_restaurant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RestaurantMainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.username.java_final_restaurant.menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".advice"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.username.java_final_restaurant.advice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".order"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.username.java_final_restaurant.order" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".startOrder"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.username.java_final_restaurant.startOrder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>